[build]
builder = "nixpacks"

[deploy]
startCommand = "cd server && uvicorn main:app --host 0.0.0.0 --port $PORT --workers 1"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

