@import "tailwindcss";

@theme {
  --color-background: #0a0a0c;
  --color-card: #15161a;
  --color-primary: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-textMain: #f1f5f9;
  --color-textMuted: #94a3b8;

  --font-sans: 'Inter', 'system-ui', 'sans-serif';
}

:root {
  background-color: var(--color-background);
  color: var(--color-textMain);
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #2d2e35;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f4049;
}